div.generate {
    width: 100%;
    margin: 5vh 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3em;
}

div.generate h1 {
    margin-bottom: 5vh;
}

div.generate>div>div:last-child {
    display: flex;
    flex-direction: column;
    background: rgba(148, 148, 148, 0.6);
    border-radius: 2em;
    padding: 1em 2em;
}

div.generate>div>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.generate .img_film_generate {
    margin: 2em;
}

div.generate .img_film_generate img {
    width: 200px;
    height: auto;
}

div.generate button {
    float: right;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #333;
    color: #fff;
}

div.generate button:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transform: scale(.9);
    transition: all 0.3s;
    background: rgb(231, 58, 39);
}

div.generate input[type=text] {
    width: 20vw;
}

div.generate .submit-modif {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

div.generate .submit-modif>* {
    margin: 1em;
}

div.generate .submit-modif input[type=submit] {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
}

div.generate .submit-modif input[type=submit]:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transform: scale(.9);
    transition: all 0.3s;
}

div.generate .submit-modif input[type=submit]:first-child {
    background: rgb(16, 170, 29);
}

div.generate .submit-modif input[type=submit]:last-child {
    background: rgb(211, 19, 19)
}

div.generate .submit-modif input[type=submit]:first-child:hover {
    background: rgb(11, 122, 21);
}

div.generate .submit-modif input[type=submit]:last-child:hover {
    background: rgb(163, 14, 14);
}

div.trigenre {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

div.trigenre h2 {
    flex-basis: 100%;
    padding: 1em;
    box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
}