div.proposition {
    background: #FFF;
    height: auto;
    width: 80%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    margin: 2em auto;
    border-radius: 2em;
    padding: 1em 2em;
}

div.proposition div.proposition-info {
    display: flex;
    flex-direction: row;
}

div.proposition>div {
    padding: 1em;
}


/* Infos */

div.proposition div:nth-child(1) {
    margin: 0 0 1em 2em;
    width: 80%
}


/* Synopsis */

div.proposition div:nth-child(2) {
    width: 100%;
    margin: auto 0;
}


/* Boutons */

div.proposition div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-self: center;
}

div.proposition div:nth-child(3) button {
    margin: 1em 1em;
}