* {
    box-sizing: border-box;
}

body,
html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background: #fbfbfb;
    min-height: 100vh;
}

button {
    padding: 0.3em 0.7em;
    border-radius: 0.5em;
    border: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #333;
    color: #fff;
}

button:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: rgb(231, 58, 39);
}

section {
    background: #FFF;
    float: left;
    height: auto;
    width: 75%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin: 2vh 0 5vh 2vw;
}

section>h3 {
    height: fit-content;
    flex-basis: 100%;
    text-align: center;
    margin-top: 5vh;
    font-size: 1.3rem;
}

section div.article {
    flex-basis: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section div.article a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

section div.article .affiche {
    margin: 1em auto;
}

.affiche {
    width: 100px;
    height: auto;
}

section div.article span {
    margin: 0 auto;
    width: 80%;
}

section div.article:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.banniere {
    font-size: 50px;
    height: 50vh;
    background: url("banner.jpg");
    background-position: center center;
    background-size: cover;
    transition: animation 3s;
    animation: apparition 3s;
}

@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article {
    overflow: hidden;
    display: flex;
    margin: 6vh auto;
    flex-direction: row;
    max-width: 60vw;
}

.aside {
    background: #fbfbfb;
    float: right;
    height: auto;
    width: 20%;
    padding: 2em;
    z-index: 1;
    position: relative;
}

.aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aside li {
    padding: 0.5rem 0;
}

.aside a {
    text-decoration: none;
    color: #9f9f9f
}

.aside a:hover {
    color: #686868;
}

aside li:hover {
    transform: scale(1.02);
}

.sidebar-title {
    color: black;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.aside hr {
    border: none;
    background: #c4c4c4;
    height: 1px;
    margin: 0.5rem 0;
}

.admin-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em auto;
}

.admin-buttons button {
    padding: 1em 1.5em;
}